<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dahboard | Sipandu Beradat</title>
    <link
      rel="stylesheet"
      href="assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="shortcut icon" href="assets/logo/logosb.png" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css" />
  </head>

  <body>
    <div
    class="position-fixed fixed-top"
    id="loading"
    style="display: none; z-index: 9999"
  >
    <div
      style="width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.7)"
      class="d-flex align-items-center justify-content-center"
    >
      <div
        class="d-flex justify-content-center align-items-center flex-column"
      >
        <div
          class="spinner-border text-primary"
          role="status"
          style="width: 4rem; height: 4rem"
        ></div>
        <h5 class="text-light pt-4 zindex-modal">Sedang Memproses..</h5>
      </div>
    </div>
  </div>
    <div class="container-scroller">
      <nav class="sidebar-container sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="
            sidebar-brand-wrapper
            d-flex
            align-items-center
            justify-content-center
          "
        >
          <a class="sidebar-brand brand-logo" href="index.html"
            ><img src="assets/logo/instansi.png" alt="logo"
          /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"
            ><img src="assets/logo/logosb.png" alt="logo"
          /></a>
        </div>
        <ul class="nav">
          <li class="nav-item nav-profile bg-pink">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img
                  id="sidebar-avatar-admin"
                  src="assets/img/logosb.png"
                  alt="profile"
                />
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3">
                <span
                  class="font-weight-medium mb-2 text-dark"
                  id="sidebar-nama-admin"
                  >Super Admin</span
                >
                <span
                  id="sidebar-nama-instansi"
                  class="font-weight-normal"
                  style="color: #a2a3b7"
                  >Sipandu Beradat</span
                >
              </div>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="index.html">
              <i class="mdi mdi-apps menu-icon icon-fill active"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/admin-instansi/admin-instansi.html">
              <i class="mdi mdi-account-star menu-icon"></i>
              <span class="menu-title">Admin Instansi</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/petugas/petugas.html">
              <i class="mdi mdi-account-group menu-icon"></i>
              <span class="menu-title">Petugas</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/pelaporan/pelaporan.html">
              <i class="mdi mdi-file-multiple menu-icon"></i>
              <span class="menu-title">Pelaporan</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>
            Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>
            Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div
            class="
              navbar-menu-wrapper
              d-flex
              align-items-center
              justify-content-between
            "
          >
            <a
              class="navbar-brand brand-logo-mini align-self-center d-lg-none"
              href="../../index.html"
              ><img src="../../assets/images/logo-mini.svg" alt="logo"
            /></a>
            <button
              class="navbar-toggler navbar-toggler align-self-center mr-2"
              type="button"
              data-toggle="minimize"
            >
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              <li class="nav-item nav-profile dropdown border-0">
                <a
                  class="nav-link dropdown-toggle"
                  id="profileDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <img
                    class="nav-profile-img mr-2"
                    id="avatar-admin"
                    alt=""
                    src="./assets/img/logosb.png"
                  />
                  <span class="profile-name" id="nama-admin">Super Admin</span>
                </a>
                <div
                  class="dropdown-menu navbar-dropdown w-100"
                  aria-labelledby="profileDropdown"
                >
                <a class="dropdown-item" href="../profile-akun/profil-admin.html">
                  <i class="mdi mdi-cached mr-2 text-success"></i>Profile</a
                  >
                  <a
                    class="dropdown-item"
                    data-toggle="modal"
                    data-target="#modal-logout"
                  >
                    <i class="mdi mdi-logout mr-2 text-primary"></i>Keluar</a
                  >
                </div>
              </li>
            </ul>
            <button
              class="
                navbar-toggler navbar-toggler-right
                d-lg-none
                align-self-center
              "
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="row" data-aos="fade-up">
              <div class="col-xl-12 col-lg-12 stretch-card grid-margin p-0">
                <div
                  class="
                    col-xl-4 col-md-4
                    stretch-card
                    grid-margin grid-margin-sm-0
                  "
                >
                  <div class="card bg-dark">
                    <div class="card-body">
                      <div
                        class="d-flex justify-content-between align-items-start"
                      >
                        <div class="color-card">
                          <p class="mb-0 color-card-head">Petugas</p>
                          <h1 class="text-white" id="jumlah-petugas">5</h1>
                        </div>
                        <i
                          class="
                            card-icon-indicator
                            mdi mdi mdi-account-group
                            bg-inverse-icon-dark
                          "
                        ></i>
                      </div>
                      <hr class="border-light-total" />
                      <h6 class="text-white caption-total">
                        Total keseluruhan petugas yang ada
                      </h6>
                    </div>
                  </div>
                </div>
                <div
                  class="
                    col-xl-4 col-md-4
                    stretch-card
                    grid-margin grid-margin-sm-0
                  "
                >
                  <div class="card bg-primary">
                    <div class="card-body">
                      <div
                        class="d-flex justify-content-between align-items-start"
                      >
                        <div class="color-card">
                          <p class="mb-0 color-card-head">Pelaporan Keluhan</p>
                          <h1
                            class="text-white"
                            id="jumlah-pelaporan-keluhan"
                          ></h1>
                        </div>
                        <i
                          class="
                            card-icon-indicator
                            mdi mdi mdi-file-multiple
                            bg-inverse-icon-primary
                          "
                        ></i>
                      </div>
                      <hr class="border-light-total" />
                      <h6 class="text-white caption-total">
                        Total keseluruhan pelaporan keluhan yang ada
                      </h6>
                    </div>
                  </div>
                </div>
                <div
                  class="
                    col-xl-4 col-md-4
                    stretch-card
                    grid-margin grid-margin-sm-0
                  "
                >
                  <div class="card bg-primary-red">
                    <div class="card-body">
                      <div
                        class="d-flex justify-content-between align-items-start"
                      >
                        <div class="color-card">
                          <p class="mb-0 color-card-head">Pelaporan Darurat</p>
                          <h1
                            class="text-white"
                            id="jumlah-pelaporan-darurat"
                          ></h1>
                        </div>
                        <i
                          class="
                            card-icon-indicator
                            mdi mdi mdi-file-multiple
                            bg-inverse-icon-primary-red
                          "
                        ></i>
                      </div>
                      <hr class="border-light-total" />
                      <h6 class="text-white caption-total">
                        Total keseluruhan pelaporan darurat yang ada
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-wrapper pt-0 pb-0">
            <div class="row">
              <div class="col-xl-12 col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-4 pb-2">Data Pelaporan</h4>
                    <form id="form-pelaporan">
                      <div class="row">
                        <div class="form-group mb-4 col-md-2">
                          <label for="tambah-kecamatan">Pelapor</label>
                          <select class="form-control" id="kategori-pelapor">
                            <option value="c">Pilih kategori pelapor</option>
                            <option value="1">Krama Tamiu</option>
                            <option value="2">Krama Wid</option>
                          </select>
                        </div>
                        <div class="form-group mb-4 col-md-2">
                        <label for="tambah-desa-adat">Pelaporan</label>
                        <select class="form-control" id="kategori-pelaporan">
                          <option value="c">Pilih Kategori Pelaporan</option>
                          <option value="1">Darurat</option>
                          <option value="0">Keluhan</option>
                        </select>
                      </div>
                      <div class="form-group mb-4 col-md-2">
                        <label for="tambah-desa-adat">Desa Adat</label>
                        <select class="form-control" id="kategori-desa-adat">
                          <option value="c">Pilih Kategori Desa Adat</option>
                        </select>
                      </div>
                            <div class="form-group mb-4 col-md-2">
                              <label for="tambah-kabupaten">Status</label>
                              <select class="form-control" id="status_aktif">
                                <option value="c">Pilih Status</option>
                                <option value="0">Menunggu Validasi</option>
                                <option value="-1">Tidak Valid</option>
                                <option value="1">Sedang Diproses</option>
                              </select>
                            </div>
                            <div class="form-group mb-4 col-md-2">
                              <label for="buttonsubmit"></label>
                              <button
                            class="
                              form-control
                              btn btn-sm btn-primary btn-icon-text
                              mt-1
                            "
                            type="submit"
                          >
                            <i class="mdi mdi-magnify btn-icon-prepend"></i>Cari
                          </button>
                            </div>
                    </div>
                      </div>
                      </form>
                    <table class="table table-datatable" id="tabel-pelaporan">
                      <thead class="bg-light">
                        <tr>
                          <th>No.</th>
                          <th>Nama Pelapor</th>
                          <th>Kategori Pelapor</th>
                          <th>Jenis Pelaporan</th>
                          <th>Kategori Pelaporan</th>
                          <th>Desa Adat</th>
                          <th>Status</th>
                          <th>Waktu</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Logout Modal-->
          <div
            class="modal fade"
            id="modal-logout"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Apakah anda yakin akan keluar?
                  </h5>
                  <button
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Tekan tombol keluar untuk keluar dari akun ini.</p>
                  <div class="modal-footer">
                    <button
                      class="btn btn-secondary"
                      type="button"
                      data-dismiss="modal"
                    >
                      Batal
                    </button>
                    <a class="btn btn-primary btn-logout" href="#">Keluar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div
              class="
                d-sm-flex
                justify-content-center justify-content-sm-between
              "
            >
              <span
                class="
                  text-muted
                  d-block
                  text-center text-sm-left
                  d-sm-inline-block
                "
                >Copyright © bootstrapdash.com 2020</span
              >
              <span
                class="
                  float-none float-sm-right
                  d-block
                  mt-1 mt-sm-0
                  text-center
                "
              >
                Free
                <a href="https://www.bootstrapdash.com/" target="_blank"
                  >Bootstrap dashboard template</a
                >
                from Bootstrapdash.com</span
              >
            </div>
          </footer>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="assets/vendors/flot/jquery.flot.js"></script>
    <script src="assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="assets/vendors/flot/jquery.flot.pie.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- front end js -->
    <!-- <script src="assets/js/Front End/Profil Admin/navbar-admin.js"></script> -->

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <!-- Fungsi Nampilin Data Dashboard -->
    <script>
      $(document).ready(async () => {
        const req = await fetch(
          "https://api.sipandu-beradat.id/superadmin/analytic/"
        );
        const { status_code, message, data } = await req.json();

        if (status_code === 200) {
          $("#jumlah-desa-adat").html(data.total_desa_adat);
          $("#jumlah-instansi").html(data.total_instansi);
          $("#jumlah-akomodasi").html(data.total_akomodasi);
          $("#jumlah-pelaporan").html(
            data.total_pelaporan + data.total_pelaporan_darurat
          );
          $("#jumlah-pelaporan-keluhan").html(data.total_pelaporan);
          $("#jumlah-pelaporan-darurat").html(data.total_pelaporan_darurat);
          $("#total-darurat").text(data.total_pelaporan_darurat);
          $("#total-keluhan").text(data.total_pelaporan);
        }
      });
    </script>

    <script>
      var map;

      const getDesaAdat = async () => {
        const req = await fetch(
          "https://api.sipandu-beradat.id/desa-adat/?active_status=true"
        );
        const { status_code, data } = await req.json();

        if (status_code === 200) {
          return data;
        } else {
          await getDesaAdat();
        }
      };
    </script>

    <script src="read-pelaporan.js"></script>
    <script src="js/logout.js"></script>
    <script src="assets/js/loading.js"></script>
    <script src="assets/js/Front End/Profil Admin/navbar-admin.js"></script>
  </body>
</html>
