<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin Instansi | Sipandu Beradat</title>
    <link
      rel="stylesheet"
      href="../../assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/css/vendor.bundle.base.css"
    />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="shortcut icon" href="../../assets/logo/logosb.png" />

    <link
      rel="stylesheet"
      href="../../assets/css/dataTables.bootstrap4.min.css"
    />
  </head>

  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-flex align-items-center justify-content-center"
        >
          <a class="sidebar-brand brand-logo" href="../../index.html"
            ><img src="../../assets//logo/instansi-white.png" alt="logo"
          /></a>
          <a class="sidebar-brand brand-logo-mini" href="../../index.html"
            ><img src="../../assets/logo/logosb.png" alt="logo"
          /></a>
        </div>
        <ul class="nav">
          <li class="nav-item nav-profile my-2">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img
                  id="sidebar-avatar-admin"
                  src="../../assets/img/logosb.png"
                  alt="profile"
                />
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3">
                <span
                  class="font-weight-medium mb-2 text-light"
                  id="sidebar-nama-admin"
                  >Super Admin</span
                >
                <span
                  id="sidebar-nama-instansi"
                  class="font-weight-normal"
                  style="color: #a2a3b7"
                  >Sipandu Beradat</span
                >
              </div>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../../index.html">
              <i class="mdi mdi-apps menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="admin-instansi.html">
              <i class="mdi mdi-account-star menu-icon"></i>
              <span class="menu-title">Admin Instansi</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../petugas/petugas.html">
              <i class="mdi mdi-account-group menu-icon"></i>
              <span class="menu-title">Petugas</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../pelaporan/pelaporan.html">
              <i class="mdi mdi-file-multiple menu-icon"></i>
              <span class="menu-title">Pelaporan</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>
            Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>
            Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div
            class="navbar-menu-wrapper d-flex align-items-center justify-content-between"
          >
            <a
              class="navbar-brand brand-logo-mini align-self-center d-lg-none"
              href="../../index.html"
              ><img src="../../assets/images/logo-mini.svg" alt="logo"
            /></a>
            <button
              class="navbar-toggler navbar-toggler align-self-center mr-2"
              type="button"
              data-toggle="minimize"
            >
              <i class="mdi mdi-menu"></i>
            </button>

            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              <li class="nav-item nav-profile dropdown border-0">
                <a
                  class="nav-link dropdown-toggle"
                  id="profileDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <img
                    id="avatar-admin"
                    class="nav-profile-img mr-2"
                    alt=""
                    src="../../assets/img/logosb.png"
                  />
                  <span id="nama-admin" class="profile-name">Super Admin</span>
                </a>
                <div
                  class="dropdown-menu navbar-dropdown w-100"
                  aria-labelledby="profileDropdown"
                >
                  <a class="dropdown-item" href="#">
                    <i class="mdi mdi-cached mr-2 text-success"></i>Profile</a
                  >
                  <a
                    class="dropdown-item"
                    data-toggle="modal"
                    data-target="#modal-logout"
                  >
                    <i class="mdi mdi-logout mr-2 text-primary"></i>Keluar</a
                  >
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div
              class="page-header d-flex flex-between align-items-center px-2"
            >
              <div class="d-flex flex-column">
                <h1 class="page-title">Admin Instansi</h1>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb p-0 mt-1">
                    <li class="breadcrumb-item">
                      <a href="../../index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Admin Instansi
                    </li>
                  </ol>
                </nav>
              </div>
              <button
                type="button"
                data-toggle="modal"
                data-target="#modal-tambah-admin-instansi"
                class="btn btn-rounded btn-primary btn-icon-text"
              >
                <i class="mdi mdi-plus btn-icon-prepend"></i>Tambah Admin
                Instansi
              </button>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-4 pb-2">Data Admin Instansi</h4>
                    <form id="form-instansi">
                      <div class="row">
                        <div class="form-group mb-4 col-md-4">
                          <label for="tambah-kabupaten">Instansi</label>
                          <select class="form-control" id="tambah-instansi">
                            <option value="c">Pilih instansi</option>
                          </select>
                        </div>
                        <div class="form-group mb-4 col-md-4">
                          <label for="tambah-kecamatan">Status Akun</label>
                          <select class="form-control" id="tambah-status-akun">
                            <option value="c">Pilih status akun</option>
                            <option value="1">superadmin</option>
                            <option value="0">Admin Instansi</option>
                          </select>
                        </div>
                      <div class="form-group mb-4 col-md-4">
                        <label for="tambah-kabupaten">status aktif</label>
                        <select class="form-control" id="status_aktif">
                          <option value="c">Pilih Status</option>
                          <option value="1">Aktif</option>
                          <option value="0">Tidak Aktif</option>
                        </select>
                      </div>
                        <div class="form-group mb-4 col-md-4">
                          <label for="buttonsubmit">tombol pilih</label>
                          <button class = "form-control" type="submit" class="btn btn-primary">
                            Pilih
                          </button>
                        </div>
                      </div>
                      </form>
                    <table
                      class="table table-datatable"
                      id="tabel-admin-instansi"
                    >
                      <thead class="bg-light">
                        <div class="preloader">
                          <div class="loading">
                            <img src="../../assets/logo/loading.gif" width="80">
                            <p>Harap Tunggu</p>
                          </div>
                        </div>
                        <tr>
                          <th>No.</th>
                          <th>Nama</th>
                          <th>Jenis Kelamin</th>
                          <th>Instansi</th>
                          <th>Status Akun</th>
                          <th>Status</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Tambah Admin Instansi -->
          <form id="form-tambah-admin-instansi">
            <div
              class="modal fade"
              id="modal-tambah-admin-instansi"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="preloader1">
                    <div class="loading">
                      <img src="../../assets/logo/loading.gif" width="80">
                      <p>Harap Tunggu</p>
                    </div>
                  </div>
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                      Tambah Data Admin Instansi
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group mb-4">
                      <label>Nama Admin</label>
                      <select class="form-control" id="tambah-admin-instansi">
                        <option value="">Pilih Admin</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Batal
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Simpan
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- Logout Modal-->
          <div
            class="modal fade"
            id="modal-logout"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Apakah anda yakin akan keluar?
                  </h5>
                  <button
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Tekan tombol keluar untuk keluar dari akun ini.</p>
                  <div class="modal-footer">
                    <button
                      class="btn btn-secondary"
                      type="button"
                      data-dismiss="modal"
                    >
                      Batal
                    </button>
                    <a class="btn btn-primary btn-logout" href="#">Keluar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Hapus -->
          <div
            class="modal fade"
            id="modal-hapus-admin-instansi"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Hapus Data Admin Instansi
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Apakah anda yakin menghapus data admin instasni ini?</p>
                  <input type="hidden" id="hapus-id" />
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Batal
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      id="btn-hapus-admin-instansi"
                    >
                      Hapus
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Edit Admin Instansi -->
          <div
            class="modal fade modal-option-search"
            id="modal-edit-admin-instansi"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="preloader1">
                  <div class="loading">
                    <img src="../../assets/logo/loading.gif" width="80">
                    <p>Harap Tunggu</p>
                  </div>
                </div>
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Edit Data Admin Instansi
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="form-edit-admin-instansi">
                    <input type="hidden" id="edit-id" />
                    <input type="hidden" id="edit-id-petugas" />
                    <div class="form-group mb-4">
                      <label>Status</label>
                      <select class="form-control" id="edit-active-status">
                        <option value="true">Aktif</option>
                        <option value="false">Nonaktif</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Batal
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Simpan
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                >Copyright © bootstrapdash.com 2020</span
              >
              <span
                class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
              >
                Free
                <a href="https://www.bootstrapdash.com/" target="_blank"
                  >Bootstrap dashboard template</a
                >
                from Bootstrapdash.com</span
              >
            </div>
          </footer>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <!-- JS -->
    <script src="../../js/refresh-token.js"></script>
    <script src="js/create-admin-instansi.js"></script>
    <script src="js/read-admin-instansi.js"></script>
    <script src="js/update-admin-instansi.js"></script>
    <script src="js/delete-admin-instansi.js"></script>
    <script src="../../assets/js/Front End/Profil Admin/navbar-admin.js"></script>
    <script src="../../js/logout.js"></script>
    <script src="../../assets/js/loading.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </body>
</html>
