<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Masuk | Sipandu Beradat</title>
  <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css" />
  <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="../../assets/vendors/select2/select2.min.css" />
  <link rel="stylesheet" href="../../assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
 <link rel="shortcut icon" href="../../assets/logo/logosb.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid p-0">
      <div class="main-panel p-0">
        <div class="content-wrapper d-flex align-items-center" style="height: 100vh;">
          <div class="d-flex align-items-center justify-content-center">
            <div class="col-md-9 grid-margin stretch-card p-0">
              <div class="card">
                <div class="card-body p-0">
                  <div class="d-flex">
                    <img class="img-fluid overflow-hidden img-login" src="../../assets/logo/login2.jpg">
                    <div class="form p-4 m-4 w-100">
                      <div class="d-flex align-items-center">
                        <img class="login-logo" src="../../assets/logo/logosb.png" alt="">
                        <div class="col pl-2">
                          <h3 class="font-weight-bold m-0">Sipandu Beradat</h3>
                          <p class="card-description m-0">Masuk ke website Desa Adat</p>
                        </div>
                      </div>
                      <form class="forms-sample" style="padding-top: 40px;">
                        <div class="form-group">
                          <label for="username">Nama Pengguna</label>
                          <input type="text" class="form-control form-control-lg" id="username"
                            placeholder="Nama Pengguna" />
                        </div>
                        <div class="form-group">
                          <label for="password">Kata Sandi</label>
                          <input type="password" class="form-control  form-control-lg" id="password"
                            placeholder="Kata Sandi" />
                        </div>
                        <div class="d-flex align-items-center captcha">
                          <img src="" id="captcha-image">
                          <button id="btn-refresh-captcha" type="button"
                            class="btn btn-inverse-primary btn-rounded btn-icon">
                            <i class="mdi mdi-refresh"></i>
                          </button>
                        </div>
                        <div class="form-group">
                          <label for="captcha">Kode Captcha</label>
                          <input type="text" class="form-control form-control-lg" id="captcha"
                            placeholder="Kode Captcha" />
                        </div>
                        <div class="d-flex justify-content-end">
                          <a class="h6 font-weight-normal mb-4" href="#">Lupa Kata Sandi?</a>
                        </div>
                        <a href="../../index.html" type="submit" class="btn btn-md btn-primary mr-2">Masuk</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="../../assets/vendors/select2/select2.min.js"></script>
  <script src="../../assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/file-upload.js"></script>
  <script src="../../assets/js/typeahead.js"></script>
  <script src="../../assets/js/select2.js"></script>

  <script src="../../assets/js/Front End/Auth/login.js"></script>
</body>

</html>